.header {
  background-color: #FAFAFA;
  z-index: 1;
}

.headerText {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  letter-spacing: -0.15rem;
}

.headerBold {
  font-weight: 700;
}

.headerLight {
  display: block;
  font-weight: 300;
}